@font-face {
    font-family: 'Futura';
    src: url('../font/Futura.otf') format('opentype');
}

.logo_brand {
    font-family: Futura, Arial, Helvetica, sans-serif;
    color: #000;
    font-style: italic;
    font-size: 35px;
}


.logo_brand:hover {
    color: #505050;
}

.logo_brand:focus {
    color: #505050;
}
