ASP.NET Core/.vs/NashSneaker/DesignTimeBuild/.dtbcache.v2
ASP.NET Core/.vs/NashSneaker/v16/.suo
ASP.NET Core/bin/Debug/net5.0/NashSneaker.dll
ASP.NET Core/bin/Debug/net5.0/NashSneaker.pdb
ASP.NET Core/bin/Debug/net5.0/NashSneaker.Views.dll
ASP.NET Core/bin/Debug/net5.0/NashSneaker.Views.pdb
ASP.NET Core/bin/Debug/net5.0/ref/NashSneaker.dll
ASP.NET Core/obj/Debug/net5.0/NashSneaker.dll
ASP.NET Core/obj/Debug/net5.0/NashSneaker.pdb
ASP.NET Core/obj/Debug/net5.0/NashSneaker.Views.dll
ASP.NET Core/obj/Debug/net5.0/NashSneaker.Views.pdb
ASP.NET Core/obj/Debug/net5.0/ref/NashSneaker.dll
nashsneaker_netcore/.vs/NashSneaker/config/applicationhost.config
nashsneaker_netcore/.vs/NashSneaker/DesignTimeBuild/.dtbcache.v2
nashsneaker_netcore/.vs/NashSneaker/v16/.suo
nashsneaker_netcore/bin/Debug/net5.0/NashSneaker.dll
nashsneaker_netcore/bin/Debug/net5.0/NashSneaker.pdb
nashsneaker_netcore/bin/Debug/net5.0/NashSneaker.Views.dll
nashsneaker_netcore/bin/Debug/net5.0/NashSneaker.Views.pdb
nashsneaker_netcore/bin/Debug/net5.0/ref/NashSneaker.dll
nashsneaker_netcore/obj/project.nuget.cache
nashsneaker_netcore/obj/Debug/net5.0/NashSneaker.assets.cache
nashsneaker_netcore/obj/Debug/net5.0/NashSneaker.csproj.AssemblyReference.cache
nashsneaker_netcore/obj/Debug/net5.0/NashSneaker.csproj.FileListAbsolute.txt
nashsneaker_netcore/obj/Debug/net5.0/NashSneaker.dll
nashsneaker_netcore/obj/Debug/net5.0/NashSneaker.genruntimeconfig.cache
nashsneaker_netcore/obj/Debug/net5.0/NashSneaker.pdb
nashsneaker_netcore/obj/Debug/net5.0/NashSneaker.Views.dll
nashsneaker_netcore/obj/Debug/net5.0/NashSneaker.Views.pdb
nashsneaker_netcore/obj/Debug/net5.0/ref/NashSneaker.dll
nashsneaker_netcore/obj/Release/net5.0/NashSneaker.assets.cache
nashsneaker_netcore/obj/Release/net5.0/NashSneaker.GeneratedMSBuildEditorConfig.editorconfig
