@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Header.cshtml";
}

<section class="signin-page account">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="block text-center">
                    <a class="logo" href="index.html">
                        <img src="images/logo.png" alt="">
                    </a>
                    <h2 class="text-center">Create Your Account</h2>
                    <form class="text-left clearfix" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger" style="margin-bottom: 10px;"></div>
                        <div class="form-group">
                            <input asp-for="Input.FirstName" class="form-control" placeholder="First Name">
                            <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="Input.LastName" class="form-control" placeholder="Last Name">
                            <span asp-validation-for="Input.LastName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="Input.Email" class="form-control" placeholder="Email">
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="Input.Password" class="form-control" placeholder="Password">
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="Confirm Password">
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-main text-center">Register</button>
                        </div>
                    </form>
                    <p class="mt-20">Already hava an account ?<a asp-page="./Login"> Login</a></p>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
